body {
  background: #f0f2f5 !important;
}

h1 {
  text-align: center;
  margin: 2rem 0 !important;
}

.div-menu {
  text-decoration: none !important;
  color: inherit !important;
}

.form-inline a {
  text-decoration: none !important;
  color: inherit !important;
}

.form-inline {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  padding: 3rem !important;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 18%);
}

.table-row {
  height: 60px;
  line-height: 43px;
}

.button-create {
  margin-left: 95%;
}

.button-form {
  margin-top: 24px !important;
}